<div class="scrollable-content">
    <div class="row">
        <div class="col-md-2 col-sm-2 col-xs-3" ng-repeat='site in sitesInfo'>
            <div class="panel panel-default" ng-style='getColor(site.id)'>
                <div class="panel-heading">{[{site.site_title}]}</div>
                <div class="panel-body">
                    {[{colorCode(site.id)}]}</div>

                <div class="details-pane">
                    <div class="msg">
                        Status Code: {[{responses[site.id] }]}
                    </div>
                    <!--<h3 class="title">Social HX Icons<span>(Nov 12th, 2013)</span></h3>
                    <p class="desc">We love these little social media icons. With just a hint of depth and shadow, they make a change from the norm.</p>
                    <div class="big-img">
                        <a href="http://pixelsdaily.com/resources/photoshop/psds/social-hx-icons/"
                           target="_blank"><img src="img/social-hx-icons.jpg"></a></div>-->
                </div><!-- @end .details-pane -->

            </div>
        </div><!--end of Col-MD-4-->
        <!--<div class="col-md-6 col-sm-5 col-xs-12">
            <div class="panel panel-default" ng-controller="AirtelMoneyMarketCtrl" ng-style='getColor(0)'>
                <div class="panel-heading">Airtel Money Market</div>
                <div class="panel-body">{[{colorCode(0)}]}</div>
            </div>
        </div>
        <div class="col-md-6 col-sm-5 col-xs-12">
            <div class="panel panel-default" ng-controller="ApiRancardMobilityCtrl" ng-style='getColor(1)'>
                <div class="panel-heading">Api Rancard Mobility</div>
                <div class="panel-body">{[{colorCode(1)}]}</div>
            </div>
        </div>
        <div class="col-md-6 col-sm-5 col-xs-12">
            <div class="panel panel-default" ng-controller="ShopWithRendezvousCtrl" ng-style='getColor(2)'>
                <div class="panel-heading">Shop With Rendezvous</div>
                <div class="panel-body">{[{colorCode(2)}]}</div>
            </div>
        </div>
        <div class="col-md-6 col-sm-5 col-xs-12">
            <div class="panel panel-default" ng-controller="MyRancardMobilityCtrl" ng-style='getColor(3)'>
                <div class="panel-heading">My Rancard Mobility</div>
                <div class="panel-body">{[{colorCode(3)}]}</div>
            </div>
        </div>
        <div class="col-md-6 col-sm-5 col-xs-12">
            <div class="panel panel-default" ng-controller="RendezvousCtrl" ng-style='getColor(4)'>
                <div class="panel-heading">Rendezvous</div>
                <div class="panel-body">{[{colorCode(4)}]}</div>
            </div>
        </div>
        <div class="col-md-6 col-sm-5 col-xs-12">
            <div class="panel panel-default" ng-controller="VodafoneLiveCtrl" ng-style='getColor(5)'>
                <div class="panel-heading">Vodafone Live</div>
                <div class="panel-body">{[{colorCode(5)}]}</div>
            </div>
        </div>
        <div class="col-md-6 col-sm-5 col-xs-12">
            <div class="panel panel-default" ng-controller="BooksNgAirtelLiveCtrl" ng-style='getColor(6)'>
                <div class="panel-heading">Books Ng Airtel Live</div>
                <div class="panel-body">{[{colorCode(6)}]}</div>
            </div>
        </div>
        <div class="col-md-6 col-sm-5 col-xs-12">
            <div class="panel panel-default" ng-controller="TicketsNgAirtelLiveCtrl" ng-style='getColor(7)'>
                <div class="panel-heading">Tickets Ng Airtel Live</div>
                <div class="panel-body">{[{colorCode(7)}]}</div>
            </div>
        </div>
        <div class="col-md-6 col-sm-5 col-xs-12">
            <div class="panel panel-default" ng-controller="MyRancardCtrl" ng-style='getColor(8)'>
                <div class="panel-heading">My Rancard</div>
                <div class="panel-body">{[{colorCode(8)}]}</div>
            </div>
        </div>
        <div class="col-md-6 col-sm-5 col-xs-12">
            <div class="panel panel-default" ng-controller="ContentClassificationBBCCtrl" ng-style='getColor(9)'>
                <div class="panel-heading">Content Classification BBC</div>
                <div class="panel-body">{[{colorCode(9)}]}</div>
            </div>
        </div>
        <div class="col-md-6 col-sm-5 col-xs-12">
            <div class="panel panel-default" ng-controller="MMarathonRancardMobilityCtrl" ng-style='getColor(10)'>
                <div class="panel-heading">M Marathon Rancard Mobility</div>
                <div class="panel-body">{[{colorCode(10)}]}</div>
            </div>
        </div>
        <div class="col-md-6 col-sm-5 col-xs-12">
            <div class="panel panel-default"ng-controller="MMarathonAdminCtrl" ng-style='getColor(11)'>
                <div class="panel-heading">M Marathon Admin</div>
                <div class="panel-body">{[{colorCode(11)}]}</div>
            </div>
        </div>
        <div class="col-md-6 col-sm-5 col-xs-12">
            <div class="panel panel-default" ng-controller="GraphDBCtrl" ng-style='getColor(12)'>
                <div class="panel-heading">Graph DB</div>
                <div class="panel-body">{[{colorCode(12)}]}</div>
            </div>
        </div>
        <div class="col-md-6 col-sm-5 col-xs-12">
            <div class="panel panel-default" ng-controller="MyJoyOnlineCtrl" ng-style='getColor(13)'>
                <div class="panel-heading">My Joy Online</div>
                <div class="panel-body">{[{colorCode(13)}]}</div>
            </div>
        </div>-->
    </div>
</div>

<div class="add-site-to-monitor" data-toggle="modal" data-target=".forget-modal">
    <a data-toggle="tooltip" data-placement="top" title="Add Website">
        <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
    </a>
</div>

<div class="modal fade forget-modal" tabindex="-1" role="dialog" aria-labelledby="myForgetModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm" ng-controller="AddWebsiteCtrl">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">×</span>
                    <span class="sr-only">Sluiten</span>
                </button>
                <h4 class="modal-title">Add Website</h4>
            </div>
            <div class="modal-body">
                <p>Title Here</p>
                <input type="text" name="recovery-email"  class="form-control"
                       autocomplete="off" placeholder="{[{placeholder_title}]}"
                       ng-model="site.title" />
                <p>Site Url Here</p>
                <input type="text" name="recovery-email"  class="form-control"
                       autocomplete="off" placeholder="{[{placeholder_url}]}"
                       ng-model="site.url" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-large"
                        data-dismiss="modal" ng-click="addSite()">Add</button>
                <!--<button type="button" class="btn btn-custom"></button>-->
            </div>
        </div> <!-- /.modal-content -->
    </div> <!-- /.modal-dialog -->
</div> <!-- /.modal -->

